{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-styled-components", { "ssr": true, "displayName": true }],
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "typescript",
          "jsx",
          "tsx",
          "css",
          "markup",
          "bash",
          "c",
          "cpp",
          "docker",
          "graphql"
        ],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
